# Ignore Directories
Library
Temp
builds
obj
output

Client/Konami-Slots/Assets/Plugins/unibill/generated
Client/Konami-Slots/AdjustPostBuild*
Client/Konami-Slots/CompilerFlags_*
Client/Konami-Slots/OtherLevelsPreferences.xml
Client/Konami-Slots/Assets/-tk2d.*
Client/Konami-Slots/Assets/Bundles/CrcCache-*
Client/Konami-Slots/Assets/Helpshift/Plugins/iOS/HelpshiftInstallConfig.json
Client/Konami-Slots/Assets/StreamingAssets/env.json*
Client/Konami-Slots/Assets/StreamingAssets/LocalBundles*
Client/Konami-Slots/Assets/DeveloperConfig*
Client/Konami-Slots/Assets/DeveloperConfig.meta
Client/versions.properties

# Ignore Files
.DS_Store
*.csproj
*.csproj.meta
*.sln
*.unityproj
*.DotSettings
*.pyc
*.pyc.meta
*.suo
*.swp
*.user
*.userprefs
*.vsp

Client/Konami-Slots/Assembly-*
Client/Konami-Slots/*.txt
Client/Konami-Slots/.idea
Client/Konami-Slots/Assets/Plugins/Editor/JetBrains*
Client/Konami-Slots/.vs/Konami-Slots/v15/sqlite3/storage.ide
Client/Konami-Slots/.vs/
Client/Konami-Slots/Assets/Ps2D/megaluckybillionaire2018_customoffer_JSON-assets.zip
Client/Konami-Slots/Assets/Ps2D/megaluckybillionaire2018_customoffer_JSON-assets.zip.meta
Client/Konami-Slots/Assets/Ps2D/HighRollerBountyCo/HighRollerBounty_CO_2x.psd
Client/Konami-Slots/Assets/Ps2D/HighRollerBountyCo/HighRollerBounty_CO_2x.psd.meta
Client/Konami-Slots/Assets/Ps2D/Test/
Client/Konami-Slots/Assets/Ps2D/Test.meta
Client/Konami-Slots/Assets/Scripts/AssetBundleBrowser/

Client/Konami-Slots/Assets/Scripts/Utf8Json*

Client/Konami-Slots/Logs*
Client/Konami-Slots/Logs/Packages-Update.log
Client/Konami-Slots/UserSettings*
Client/Konami-Slots/Assets/Assets.index*
Client/Konami-Slots/fbg.log

# Visual Studio 2015 cache/options directory
.vs/
.vscode/
